<!--The whole content below can be removed with the new code.-->
<md-toolbar color="primary">
  <span fxHide.xs>Rose Routing</span>
  <span fxFlex.xs></span>
  <a md-button type="button" [routerLink]="['/home']" routerLinkActive="active">
    <md-icon>home</md-icon>
  </a>
  <a id="moench-btn" md-button [mdMenuTriggerFor]="moenchMenu">Moench</a>

  <md-menu [overlapTrigger]="false" #moenchMenu="mdMenu">

    <button [routerLink]="['/moench', '200']" routerLinkActive="active" md-menu-item>200</button>

    <button [routerLink]="['/moench', '100']" routerLinkActive="active" md-menu-item>100</button>

    <button [routerLink]="['/moench', 'L100']" routerLinkActive="active" md-menu-item>L100</button>

    <button [routerLink]="['/moench', 'L200']" routerLinkActive="active" md-menu-item>L200</button>

  </md-menu>

  <a md-button type="button" [routerLink]="['/signin']" routerLinkActive="active">Sign In</a>
</md-toolbar>
<div fxLayoutAlign="center center">
  <md-card class="container">
    <router-outlet></router-outlet>
  </md-card>
</div>
